---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout class="grid justify-items-center">
  <article class="text-center prose divide-y grid gap-5 py-9">
    <h1>SLC's #1 Resource for vegan food</h1>
    <p>
      Salt Lake Vegan is dedicated to all things vegan food in Salt Lake City!
      Our mission is to help vegans, vegetarians, and anyone interested in
      exploring plant-based cuisine find the best vegan restaurants, cafes, and
      bakeries in Salt Lake City. We believe that vegan food is not only healthy
      and environmentally sustainable, but also incredibly tasty and satisfying.
      Whether you are a committed vegan or simply interested in exploring new
      food options, our site is the perfect guide to discovering the vibrant and
      delicious world of vegan cuisine in Salt Lake City.
    </p>
  </article>
</BaseLayout>
