---
import Instagram from "./icons/Instagram.astro";
import Facebook from "./icons/Facebook.astro";
---

<footer
  class="grid justify-items-center text-center bg-[#14261C] text-white gap-3 !p-9">
  <ul class="flex gap-5 uppercase">
    <li><a href="/">home</a></li>
    <li><a href="/restaurants">restaurants</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/contact">contact</a></li>
  </ul>
  <span>SLV</span>
  <section class="flex gap-5">
    <Instagram />
    <Facebook />
  </section>
  <p>© {new Date().getFullYear()} Salt Lake Vegan</p>
</footer>
