---
import Menu from "./icons/Menu.astro";
import Search from "./icons/Search.svelte";

import { Image } from "astro:assets";
import logo from "../assets/salt-lake-vegan.png";

import { getCollection } from "astro:content";
const posts = await getCollection("restaurant");

const isCurrentPage = (pathname) =>
  Astro.url.pathname === pathname ? "text-emerald-500" : "";
---

<!-- Header -->
<header class="h-16 flex justify-between items-center">
  <a href="/"><Image class="w-24" src={logo} alt="Salt Lake Vegan" /></a>
  <nav class="flex gap-9 uppercase">
    <ul class="hidden md:flex gap-9">
      <li><a class={isCurrentPage("/")} href="/">home</a></li>
      <li>
        <a class={isCurrentPage("/restaurants")} href="/restaurants"
          >restaurants</a
        >
      </li>
      <li><a class={isCurrentPage("/about")} href="/about">about</a></li>
      <li><a class={isCurrentPage("/contact")} href="/contact">contact</a></li>
    </ul>
    <Search client:load postList={posts} />
    <button id="menu-button" class="md:hidden"><Menu /></button>
  </nav>
</header>

<!-- Mobile -->

<aside class="!p-0 md:hidden uppercase">
  <nav id="menu" class="divide-y border w-full flex-col *:p-3 hidden">
    <a href="/">home</a>
    <a href="/restaurants">restaurants</a>
    <a href="/about">about</a>
    <a href="/contact">contact</a>
  </nav>
</aside>
