---

---

<div class="relative flex items-center">
  <button id="search-button">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      ><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"
      ></path></svg
    >
  </button>
  <input
    type="text"
    class="absolute w-40 right-10 p-3 border-2 rounded-md hidden"
    placeholder="Search"
    id="search-input"
  />
</div>

<script>
  const searchInput = document.getElementById("search-input");
  const searchButton = document.getElementById("search-button");

  searchButton?.addEventListener("click", () => {
    searchInput?.classList.toggle("hidden");
  });
</script>
