---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="grid *:p-3">
    <Header />
    <main class="bg-stone-100 min-h-screen"><slot /></main>
    <footer></footer>
  </body>
</html>
